<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scal e=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/scripts/index.js"></script>

    <title>Chris | E-Commerce-Website</title> 
</head>

<body>
    <nav>
        <div class="logo">
            <a href="/" class="home-link-logo">Buy & Sell</a>
        </div>
        <div class="nav-options"> 
            <span>|</span>
            <a href="/products">Products</a>
            
            <form action="{{ url_for('products') }}" method="get" class="search-form">
                <input type="text" name="search" placeholder="Search..">
                <button type="submit" class="ri-search-2-line"></button>
            </form>
            
            <a href="/dashboard">Account</a>
            <span>|</span>
            <a href="#">Orders</a>
            <span>|</span>
            <a href="/cart" class="ri-shopping-cart-2-line">Cart</a>
    </nav>


    <div class="product-slide-container">
        <div class="product-slide">
            <img src="https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg" alt="Product Image">
        </div>
    </div>
    


</body>


</html>
